/* PHASE 3: Layout */

.content {
  background-color: green;
  margin: auto;
  width: 900px;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  position: relative;
}

.content-main {
  float: left;
  width: 620px;
  min-height: 200px;
  background-color: #FFF;
  padding: 20px;
}

.content-sidebar {
  float: left;
  width: 200px;
  min-height: 200px;
  background-color: #FFF;
  padding: 20px;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 240px;
  background-color: #CCC;
}
